a {
	color: #2b617a;
	font-weight: bold;
}
a:hover {
	color: #2b617a;
}
.city-badge {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.flyer-middle {
	position: relative;
	z-index: 2;
}

.acts {
	text-transform: uppercase;
	position: absolute;
	color: white;
	font-size: 2.5em;
	font-family: bebas_neueregular;
	text-shadow: -2px 1px 0px #d03f0e;
	letter-spacing: 1px;
}

.acts h2 {
	color: #2b617a;
	font-size: 1.5em;
	text-shadow: none;
}

.acts ul>li>small {
	display: block;
	font-size: 0.5em;
	line-height: 50%;
}

#profs {
	left: 0px;
	float: left;
	text-align: left;
}

#profis {
	right: 0px;
	text-align: right;
}

#info {
	/*font-family: bebas_neueregular;*/
	font-size: 1.5em;
	text-align: center;
	color: white;
	letter-spacing: 1px;
}

@media (min-width: 769px) {
	.city-badge {
		width: 70%;
	}
	.city-badge h2 {
		font-size: 3.8em;
		position: absolute;
		width: 350px;
		top: 60px;
		left: 60px;
	}
	.city-badge h4 {
		position: absolute;
		top: 150px;
		font-size: 2em;
		width: 100%;
	}
	#motive {
		margin-top: -80px;
		float: right;
		z-index: 2;
	}

	.info-icons img {
		width: 200px;
	}
}

@media (min-width: 651px) and (max-width: 768px) {
	.city-badge h2 {
		font-size: 6em;
	}
}

@media (min-width: 517px) and (max-width: 650px) {
	.city-badge h2 {
		font-size: 3.8em;
	}
}

@media (min-width: 391px) and (max-width: 516px) {
	.city-badge h2 {
		font-size: 2.8em;
	}
}

@media(max-width: 390px) {
	.city-badge h2 {
		font-size: 1.7em;
	}
}

@media (max-width: 768px) {
	.acts {
		position: relative;
	}
	#profis, #profs {
		text-align: center;
		float: none;
	}
	.city-badge h2 {
		position: absolute;
		width: 80%;
		top: 20%;
		line-height: 150%;
		height: 30%;
		left: 10%;
	}

	.city-badge h4 {
		position: absolute;
		top: 60%;
		width: 100%;
	}

	.info-icons {
		display: none;
	}

	.info-text > div {
		margin-bottom: 1.5em;
	} 
}
