.city-badge:hover {
	opacity: 0.7;
	cursor: pointer;
}

.city-badge.inactive {
	opacity: 0.8;
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.city-badge {
		width: 50%;
		float: left;
		height: 168px;
		background-image: url(../img/badge.png);
		background-size: 90% auto;
		background-repeat: no-repeat;
		background-position: center;
	}

	.city-badge h2, .city-badge h4 {
		position: absolute;
	}

  	.city-badge h2 {
		top: 40px;
		left: 70px;
		width: 220px;
  	}
  	.city-badge h4 {
  		top: 102px;
  		left: 0px;
  		width: 100%;
  	}
}

@media (max-width:767px) {
	.city-badge {
		background-image: url(../img/badge-straight.png);
		background-size: auto 90%;
		background-repeat: no-repeat;
		background-position: center;
		height: 80px;
		margin-top: 5px;
		padding-top: 1px;
	}


	.city-badge h2 {
			-webkit-transform: rotate(0deg); /* chrome & safari*/
			-moz-transform: rotate(0deg); /* firefox */
			-o-transform: rotate(0deg); /* opera */
			transform: rotate(0deg); /* explorer > 9 */
	}

	.city-badge {
			-webkit-transform: rotate(-9deg); /* chrome & safari*/
			-moz-transform: rotate(-9deg); /* firefox */
			-o-transform: rotate(-9deg); /* opera */
			transform: rotate(-9deg); /* explorer > 9 */
	}

	.city-badge h4 {
		display: none;
	}

}
