@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-image: url(../img/background.png);
	background-size: 100% auto;
}

header {
	margin-top: 20px;
}

nav {
	font-family: bebas_neueregular;
	font-size: 1.3em;
	color: #2b617a;
	margin-bottom: 5px;
}

nav > a {
	color: #2b617a ;
	font-weight: normal;
}

nav > a:hover {
	color: #2b617a ;
	text-decoration: overline underline;
}

nav > a.active {
	text-decoration: overline underline;
}

.city-badge a {
	width: 100%;
	height: 100%;
}

.city-badge h2 {
		-webkit-transform: rotate(-9deg); /* chrome & safari*/
		-moz-transform: rotate(-9deg); /* firefox */
		-o-transform: rotate(-9deg); /* opera */
		transform: rotate(-9deg); /* explorer > 9 */
}

.city-badge h2, .city-badge h4 {
	color: white;
	text-align: center;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
	#motive {
		padding: 0px 100px 0px 100px;
	}
}