@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
  src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'), 
  url('http://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'), 
  url('http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'), 
  url('http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
}


.entypo-facebook:before {
  font-family: 'entypo', sans-serif;
  content:"\f30c"

}

body {
	/*background-image: url(/img/background-new.png);*/
	background: url(/img/background-new.png) no-repeat, url(/img/background.png) repeat;
	background-size: 100% auto;
}

header {
	margin-top: 20px;
}

nav {
	font-family: bebas_neueregular;
	font-size: 1.3em;
	color: #58483f;
	margin-bottom: 5px;
}

#team {
  text-align: center;
}

a {
  color: #58483f;
}

a:hover {
  color: #58483f;
}

nav > a {
	font-weight: normal;
}

nav > a:hover {
	
	text-decoration: overline underline;
}

nav > a.active {
	text-decoration: overline underline;
}

.city-badge a {
	width: 100%;
	height: 100%;
}

.city-badge h2 {
		-webkit-transform: rotate(-9deg); /* chrome & safari*/
		-moz-transform: rotate(-9deg); /* firefox */
		-o-transform: rotate(-9deg); /* opera */
		transform: rotate(-9deg); /* explorer > 9 */
}

.city-badge h2, .city-badge h4 {
	color: white;
	text-align: center;
}

#team {
  padding-bottom: 3em;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
	#motive {
		padding: 0px 100px 0px 100px;
	}
}

@media (max-width: 767px) {
		html, body {
		max-width: 100%;
		overflow-x: hidden;
	}
}
}